body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #E4E2DD;
  }

  .transition-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E4E2DD;
  }
  
  .Logo_transicao {
    max-width: 300px;
  }

  .hidden {
    display: none;
  }
  
  
  header {
    background-color: #E4E2DD;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    max-width: 100px;
    margin-right: auto;
  }
  
  .container {
    margin-top: 80px; /* para dar espaço ao cabeçalho fixo */
    padding: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .imagem {
    max-width: 300px;
  }
  
  .texto {
    max-width: calc(100% - 320px); /* considerando a largura da imagem */
  }
  
  .carrossel-container {
    margin-bottom: 20px;
  }
  
  .carrossel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .comment {
    flex: 0 0 auto;
    min-width: 300px;
    height: 400px; /* Altura fixa para as imagens dos comentários */
    margin-right: 10px;
    scroll-snap-align: start;
  }

  .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-box {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.forgot-password {
  font-size: 14px;
  color: #337ab7;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.no-account {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}